

.bg-gradient {
  background: linear-gradient(
    -45deg,
    #041BD3,
    #0A0E0C,
    #800c1a,
    #14174A,
    #630E1B
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 




/* body, h1, p {
  margin: 0;
  padding: 0;
} */


.body {
  background: linear-gradient(-45deg, #041BD3, #0A0E0C, #621b77, #14174A,#630E1B);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.container {
  display: flex;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.leftside {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.leftside h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.leftside p {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}


.rightside {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.landingimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.ctabutton {
  display: block;
  padding: 15px 30px;
  background-color: #0063a5;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.ctabutton:hover {
  background-color: #2980b9;
}